@model SP.Application.Dto.LoginDto.LoginViewDto
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<section class="min-vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-5">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-4 p-lg-5 text-black">
                        <h3 class="fw-normal mb-4 text-center">Quên mật khẩu</h3>
                        <form method="post">
                            <div class="form-group mb-4">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control form-control-lg" id="email" name="Email" required asp-for="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Gửi email đặt lại mật khẩu</button>
                            </div>

                            <div class="text-center mt-4">
                                <p class="mb-0">Đã nhớ mật khẩu? <a href="@Url.Action("Login", "Auth")" class="text-primary">Đăng nhập tại đây</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
